<div class="pet-index">
  <div class="create-pet-btn" style="background-color: white">
    <div class="create-pet-btn-img">
      <%= image_tag "pets_comp6.png", alt: "", width:"100%" %>
    </div>
    <div class="create-btn">
      <%= button_to "Create New Pet", new_shelter_pet_path(@shelter), method: :get, class: "create-new-btn" %>
    </div>
  </div>
  <% @pets.each do |pet| %>
    <div class="pet-index-card">
      <div class="pet-index-card-avatar">
        <%= cl_image_tag pet.photo.key, width: 85, class: "pet-index-avatar" %>
      </div>
      <div class="pet-index-info">
        <div class="pet-info overflow-hidden">
          <h5 class="wrap-line white-letter-header"><%= pet.name %></h5>
          <h6 class="wrap-line white-letter-text"> <%= pet.gender %> · <%= pet.age %> · <%= pet.breed %></h6>
        </div>
        <div class="edit-btn">
          <%= button_to "Edit", edit_pet_path(pet), method: :get, class: "pet-edit-btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
