<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-0">
      <% @shelters.each do |shelter| %>
        <% if shelter.photo.attached? %>
          <div class="col">
            <div class="card card-border m-3">
                <%= link_to(shelter) do %>
                <%= cl_image_tag shelter.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top img-border" %>
                <% end %>
              <div class="card-body">
                <h5 class="card-title title-inline" style="color: #6096B4";><%= shelter.name %></h5>
                <p class="card-text mb-0"><%= shelter.address %></p>
                <p class="card-text mt-0"><%= shelter.phone_number %></p>
                <a href=<%= "/shelters/#{shelter.id}" %> class="btn btn-primary btn-sm" role="button">Discover more</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
