<div class="shelter_container">
  <div class="bread-crumbs">
    <div class="user-btn">
      <a href="/shelters"  role="button">← Back</a>
    </div>
    <div class="user-btn">
      <a href="/shelters" role="button">Next →</a>
    </div>
  </div>
  <div class="shelter_show_info">
<!-- Image -->
    <div class="shelter_show_img">
      <%=  cl_image_tag @shelter.photo.key, class: "shelter_avatar" %>
    </div>
<!-- Shelter Info -->
   <div class="shelter-show-general">
      <div class="shelter-show-info">
        <h1 class="shelter-name-text"><%= @shelter.name %></h1>
          <div class="owner-btn">
          <% if policy(@shelter).destroy? %>
            <%= link_to 'Delete',
            shelter_path(@shelter),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
          <% if policy(@shelter).edit? %>
            <%= link_to 'Edit this shelter', edit_shelter_path(@shelter) %>
          <% end %>
        </div>
        <div class="shelter-texts">
          <p class="shelter-details"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/bjnaomnr.json"
                trigger="hover"
                colors="outline:#121331,primary:#e5d1fa,secondary:#3a3347,tertiary:#2ea28b"
                style="width:35px;height:35px">
            </lord-icon>
          <span class="shelter-detail-text"> <%= @shelter.phone_number %></span></p><br>
          <p class="shelter-details"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
          <lord-icon
              src="https://cdn.lordicon.com/etqbfrgp.json"
              trigger="hover"
              colors="outline:#131432,primary:#d4d1fa,secondary:#a39cf4,tertiary:#b26836,quaternary:#ebe6ef"
              style="width:25px;height:25px">
          </lord-icon> <span class="shelter-detail-text"> <%= @shelter.address %></span></p><br>
        </div>
        <div class="working-hour margin">
          <h5 class="description-shelter-text"><strong>Working Hours:</strong></h5>
          <div class="flex-hour">
            <div>
              <p class="description-shelter-text">Monday</p>
              <p class="description-shelter-text">Tuesday</p>
              <p class="description-shelter-text">Wednesday</p>
              <p class="description-shelter-text">Thrusday</p>
              <p class="description-shelter-text">Friday</p>
            </div>
            <div class="time-margin">
              <p class="description-shelter-text">9am - 6pm</p>
              <p class="description-shelter-text">9am - 6pm</p>
              <p class="description-shelter-text">9am - 4pm</p>
              <p class="description-shelter-text">9am - 4pm</p>
              <p class="description-shelter-text">9am - 8pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!-- Shelter Description -->
  <div class="shelter-description">
    <div class="description-text">
      <h4 class="shelter-description-header">About <%= @shelter.name %></h4>
      <p class="shelter-description-paragraph"><%= @shelter.description %></p>
    </div>
<!-- Image -->
    <div class="shelter-description-right">
      <%= image_tag "pets_comp5.png", alt: "", width:"80%" %>
    </div>
  </div>


  <p><strong>Pets</strong></p>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-0">
    <% @shelter.pets.each do |pet| %>
      <div class="col">
            <div class="card card-border m-3">
                <%= link_to(pet) do %>
                <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top img-border" %>
                <% end %>
              <div class="card-body">
                <h5 class="card-title title-inline" style="color: #6096B4";><%= pet.name %></h5>
                <p class="card-text mb-0"><%= pet.species %></p>
                <p class="card-text mt-0"><%= pet.breed %></p>
                <p class="card-text mt-0"><%= "#{pet.age} years old" %></p>
                <a href=<%= "/pets/#{pet.id}" %> class="btn btn-primary btn-sm" role="button">Discover more</a>
                <button class="btn btn-secondary btn-sm"> <%= pet.status%> </button>
              </div>
            </div>
          </div>
    <% end %>
    </div>
  </div>
  <br>
  <form class="show-form">
  <div class="d-flex justify-content-end">
    <div>
      <% if policy(@shelter).destroy? %>
        <%= button_to 'Delete', shelter_path(@shelter), method: :delete, class: "btn btn-outline-primary btn-lg"%>
        <% end %> </div>
        <% if policy(@shelter).edit? %>
           <%= button_to 'Edit this shelter', edit_shelter_path(@shelter), method: :get, class: "btn btn-outline-primary btn-lg" %>
        <% end %>
         <%= button_to 'Back to all the shelters', shelters_path(@shelter), method: :get, class: "btn btn-outline-primary btn-lg" %>
    </div>
  </div>
  </form>
</div>
