<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
      body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
      }

      .container {
        margin-top: 50px;

      }

      h2 {
        margin-bottom: 30px;
        font-size: 2.5rem;
      }

      .form-inputs {
        margin-bottom: 20px;
        text-align: left;
      }

      .form-inputs input {
        width: 55%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }

      .form-actions {
        text-align: left;
      }

      /* .form-actions button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 4px;
        cursor: pointer;
      }

      .form-actions button:hover {
        background-color: #0069d9;
      } */
    </style>
  </head>

  <body>
    <div class="login-container">
      <div class="login-head">
        <%= image_tag "pets_comp7.png", alt: "", width:"100%" %>
      </div>
      <div class="login-form">
        <h1 class="headline" style="color: white">Sign up</h1>
        <div class="login-form-polish">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }, html: { class: 'user-login-form' }) do |f| %>
            <%= f.error_notification %>

            <div class="login-form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions">
              <%= button_tag "Sign up", class: "login-form-btn" %>
            </div>
          <% end %>

          <div class="signup-links ml-1 mt-3">
            <%= render "devise/shared/links" %>
          </div>

        </div>

      </div>
    </div>
  </body>

</html>
