<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <% @pets.each do |pet| %>
      <% if pet.photo.attached? %>
        <div class="col">
          <div class="card h-100 pet-index-card">
            <div class="pet-index-card-avatar">
              <%= cl_image_tag pet.photo.key, width: 85, class: "pet-index-avatar" %>
            </div>
            <div class="card-body pet-index-info">
              <h5 class="card-title wrap-line white-letter-header"><%= pet.name %></h5>
              <h6 class="card-text wrap-line white-letter-text"> <%= pet.gender %> · <%= pet.age %> · <%= pet.breed %></h6>
              <h6 class="card-text wrap-line white-letter-text"> <%= pet.shelter.name %> · <%= pet.age %></h6>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


