<ol>
  <% @pets.each do |pet| %>
  <li>
  <%= image_tag(pet.photo, style: 'height:20%;width:20%;') %>
    <p><%= pet.name %></p>
   <p><%= pet.species %></p>
   <p> <%= pet.breed %></p>
    <p><%= pet.age %></p>
    <p><%= pet.status %></p>
     <p> <%= pet.description %></p>
  </li>
  <% end %>
</ol>
