
<!-- Image -->
<div class="container">
<div class="row">
  <div class="col-md-12">
    <%= image_tag(@pet.photo, :alt => "Avatar", :style => 'height:100%;width:50%;') %>
  </div>
</div>
<br/>


<div class="row">

  <!-- LEFT PANEL -->
  <div class="col-md-8">

    <!-- Listing Name -->
    <div class="row">
      <div class="col-md-8">
        <h1><%= @pet.name %></h1>
      </div>
    <hr/>

    <!-- Pet Info -->
    <div class="row text-babu">
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          <i class="fa-sharp fa-solid fa-paw"></i>
        </div>
        <div class="col-md-3">
          <i class="fa-solid fa-cake-candles"></i>
        </div>
        <div class="col-md-3">
          <i class="fa-solid fa-face-smile"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3"><%= @pet.species %></div>
        <div class="col-md-3"><%= @pet.age %></div>
        <div class="col-md-3"><%= @pet.status %></div>
      </div>
    <hr/>

    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h3>About This Pet</h3>
        <p><%= @pet.description %></p>
      </div>
    </div>
    <hr/>
<div>
</div>

  <% if policy(@pet).destroy? %>
    <%= link_to 'Delete',
    pet_path(@pet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>

  <% if policy(@pet).edit? %>
    <%= link_to 'Edit this pet', edit_pet_path(@pet) %>
  <% end %>


   <div class="d-flex justify-content-end">
    <div>
      <% if Appointment.find_by(pet: @pet, user: current_user).present? %>
        <div> <%= button_to 'Cancel Appointment', pet_appointment_path(@pet.id), method: :delete, class: "btn btn-outline-primary btn-lg" %></div>
        <% else %>
        <div> <%= button_to 'Create Appointment', pet_appointments_path(@pet.id), method: :post, class: "btn btn-outline-primary btn-lg" %></div>
      <% end %>
      </div>
      <a href="/pets" class="btn btn-outline-primary btn-lg mb-2 mt-0" role="button">Go back to all pets</a>
    </div>
  </div>

  <div data-controller="map"
          id='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          style='width: 100%; height: 300px;'>
        </div>


</div>
