<h1> <%= @pet.name %></h1>
<%= image_tag(@pet.photo, :alt => "Avatar", :style => 'height:50%;width:50%;') %>
    <p><%= @pet.name %></p>
   <p><%= @pet.species %></p>
   <p> <%= @pet.breed %></p>
    <p><%= @pet.age %></p>
    <p><%= @pet.status %></p>
     <p> <%= @pet.description %></p>
<div>
  <%= link_to 'Back to all pets', pets_path %>

  <% if policy(@pet).destroy? %>
    <%= link_to 'Delete',
    pet_path(@pet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>

  <% if policy(@pet).edit? %>
    <%= link_to 'Edit this pet', edit_pet_path(@pet) %>
  <% end %>

  <div data-controller="map"
          id='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          style='width: 100%; height: 300px;'>
        </div>


</div>
