<div class="pet_container">
  <div class="bread-crumbs">
    <div class="user-btn">
      <a href="/pets"  role="button">← Back</a>
    </div>
    <div class="user-btn">
      <a href="/pets" role="button">Next →</a>
    </div>
  </div>
  <div class="pet_show_info">
  <!-- Image -->
    <div class="pet_show_img">
      <%= cl_image_tag @pet.photo.key, class: "pet_avatar" %>
    </div>
    <!-- Pet Info -->
    <div class="pet-show-general">
      <div class="pet-show-info">
        <h1 class="pet-name-text"><%= @pet.name %></h1>
          <div class="owner-btn">
          <% if policy(@pet).destroy? %>
            <%= link_to 'Delete',
            pet_path(@pet),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <% end %>
          <% if policy(@pet).edit? %>
            <%= link_to 'Edit this pet', edit_pet_path(@pet) %>
          <% end %>
        </div>
        <div class="pet-texts">
          <p class="pet-details">Age: <span class="pet-detail-text"><%= @pet.age %> years old</span></p><br>
          <p class="pet-details">Breed: <span class="pet-detail-text"><%= @pet.breed %></span></p><br>
          <p class="pet-details">Gender: <span class="pet-detail-text"><%= @pet.gender %></span></p><br>
          <p class="pet-details">Status: <span class="pet-detail-text"><%= @pet.status %></span></p><br>
        </div>
        <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
      </div>

      <%# BUTTON FOR APPOINTMENTS %>

        <% if Appointment.find_by(pet: @pet, user: current_user).present? %>
          <div class="cancel-btn">
            <%= button_to 'Cancel Appointment', pet_appointment_path(@pet.id), method: :delete, class: "btn btn-cancel" %>
          </div>
        <% else %>
      <div class="appointment-card">
        <form action=<%= "/pets/#{@pet.id}/appointments" %> method="post" class="d-flex align-items-center justify-content-between">
        <div class="mb-3">
          <label for="appointmentdate" class="form-label">Pick A Date</label>
          <input type="date" class="form-control py-3" id="appointmentdate" name="appointmentdate" >
        </div>
        <div class="mb-3">
          <label for="appointmenttime" class="form-label">Pick A Time</label>
          <input type="time" class="form-control py-3" id="appointmenttime" name="appointmenttime">
        </div>
        <button type="submit" class="btn btn-appointment">Create Appointment</button>
      </form>
      </div>
        <% end %>

    </div>
  </div>

<!-- Pet Description -->
  <div class="pet-description">
    <div class="description-text">
      <h4 class="pet-description-header">About <%= @pet.name %></h4>
      <p class="pet-description-paragraph"><%= @pet.description %></p>
    </div>
    <!-- Image -->
    <div class="pet-description-right">
      <%= image_tag "pets_comp5.png", alt: "", width:"80%" %>
    </div>
  </div>

  <!-- Shelter -->
  <div class="pet_show_info-map">
    <div class="pet-show-general-left">
      <h1 class="shelter-description-header"><%= @pet.shelter.name %></h1>
      <p class="description-shelter-text">Address: <%= @pet.shelter.address %></p>
      <p class="description-shelter-text">Phone: <%= @pet.shelter.phone_number %></p>
      <div class="working-hour margin">
          <h5 class="description-shelter-text"><strong>Working Hours:</strong></h5>
          <div class="flex-hour">
            <div>
              <p class="description-shelter-text">Monday</p>
              <p class="description-shelter-text">Tuesday</p>
              <p class="description-shelter-text">Wednesday</p>
              <p class="description-shelter-text">Thrusday</p>
              <p class="description-shelter-text">Friday</p>
            </div>
            <div class="time-margin">
              <p class="description-shelter-text">9am - 6pm</p>
              <p class="description-shelter-text">9am - 6pm</p>
              <p class="description-shelter-text">9am - 4pm</p>
              <p class="description-shelter-text">9am - 4pm</p>
              <p class="description-shelter-text">9am - 8pm</p>
            </div>
          </div>
        </div>
    </div>
    <!-- MAP -->
    <div class="pet-show-general-right">
      <div data-controller="map"
        id='pet-map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 100%; height: 300px; border-radius: 15px;'>
      </div>
    </div>
  </div>
</div>
