<h1> <%= @pet.name %></h1>
<%= image_tag(@pet.photo, :alt => "Avatar", :style => 'height:50%;width:50%;') %>
    <p><%= @pet.name %></p>
   <p><%= @pet.species %></p>
   <p> <%= @pet.breed %></p>
    <p><%= @pet.age %></p>
    <p><%= @pet.status %></p>
     <p> <%= @pet.description %></p>
<div>
  <%= link_to 'Back to all pets', pets_path %>

  <% if policy(@pet).destroy? %>
    <%= link_to 'Delete',
    pet_path(@pet),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>

  <% if policy(@pet).edit? %>
    <%= link_to 'Edit this pet', edit_pet_path(@pet) %>
  <% end %>

   <div class="d-flex justify-content-end">
    <div>
      <% if Appointment.find_by(pet: @pet, user: current_user).present? %>
        <div> <%= button_to 'Cancel Appointment', pet_appointment_path(@pet.id), method: :delete, class: "btn btn-outline-primary btn-lg" %></div>
        <% else %>
        <div> <%= button_to 'Create Appointment', pet_appointments_path(@pet.id), method: :post, class: "btn btn-outline-primary btn-lg" %></div>
      <% end %>
      </div>
      <a href="/pets" class="btn btn-outline-primary btn-lg mb-2 mt-0" role="button">Go back to all pets</a>
    </div>
  </div>
</div>
