<div class="login-container">
  <div class="login-head">
    <%= image_tag "pets_comp7.png", alt: "", width:"100%" %>
  </div>
  <div class="login-form">
    <h1 class="headline" style="color: white">Forget your password?</h1>
    <div class="login-form-polish">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'user-login-form' }) do |f| %>
        <%= f.error_notification %>

        <div class="login-form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= button_tag "Send reset instructions", class: "password-form-btn" %>
        </div>
      <% end %>

      <div class="links login-form-link mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
