<div class="profile-container">
  <div class="profile-banner">
    <div class="profile-left">
      <div class="profile-img">
        <%= cl_image_tag current_user.photo.key, width: 150, height: 150, class: "round-avatar" %>
      </div>
      <div class="user-info">
        <div class="user-basic-info">
          <h1 class="white-letter"><%= current_user.email %></h1>
          <h5 class="small-info white-letter">Berlin, Germany</h5>
          <p class="white-letter user-description">Sarah is looking to adopt a dog to provide her with companionship and encourage her to get outside and be more active.</p>
        </div>
        <button class="user-edit-btn">Edit profile</button>
      </div>
    </div>
    <div class="profile-right">
      <%= image_tag "pets_comp8.png", alt: "", width:"100%" %>
    </div>
  </div>
  <div class="profile-appointment">
    <h4 class="white-letter"><strong>Appointments</strong></h4>
    <% if @appointments.empty? %>
      <div class="profile-appointment-empty">
        <h1 class="white-letter">Go get your first appointment</h1>
      </div>
    <% else %>
      <div class="profile-appointment-info">
        <% @appointments.each do |appointment| %>
          <% pet = Pet.find_by(id: appointment.pet_id) %>
          <a href=<%= "/pets/#{pet.id}" %> class="profile-appointment-card">
            <div class="profile-appointment-avatar">
              <%= cl_image_tag pet.photo.key, width: 75, height: 75, class: "pet-avatar" %>
            </div>
            <div class="profile-appointment-date">
              <div>
                <h6><strong><%= appointment.date %></strong></h6>
              </div>
              <div>
                <h6><strong>Pet:</strong>  <%= pet.name %></h6>
              </div>
            </div>
            <div class="profile-appointment-time">
              <h6><strong>Time:</strong>  <%= appointment.time.strftime("%H:%M") %></h6>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="profile-shelter-favourites">
    <% if @shelters.empty? %>
      <div class="profile-shelter-empty">
        <h4 class="white-letter"><strong>My Shelters</strong></h4>
        <div class="profile-create-shelter">
          <h5 class="white-letter"><strong>Wanna Create A Shelter?</strong></h5>
          <%= button_to "Create Shelter", new_shelter_path, method: :get, class: "create-shelter-btn" %>
        </div>
      </div>
    <% else %>
      <div class="profile-shelter-list">
        <h4 class="white-letter"><strong>My Shelters</strong></h4>
        <div class="profile-shelter-link">
          <ul class="list-dot">
            <% @shelters.each do |shelter| %>
              <li class="equal-size"><a href=<%= "/shelters/#{shelter.id}/dashboard" %> class="list-decoration"><%= shelter.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @favorites.empty? %>
      <div class="profile-favorites-empty">
        <h4 class="white-letter"><strong>My Favorites</strong></h4>
        <div class="favorite-empty-sign">
          <h1 class="white-letter">You haven't liked any pet yet</h1>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
</div>
